.bento-cards {
  position: relative;
  z-index: 50;
  .image {
    padding: 5px;
  }
  .cardItem {
    position: relative;
    z-index: 50 !important;
    overflow: hidden;
    &::after {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      // background: radial-gradient(64.5947% 78.6119% at 50.1416% 84.4193%, rgba(249, 172, 129, 0) 0%, rgb(255, 132, 63) 43.5%, rgba(241, 73, 36, 0) 100%);
      filter: blur(80px);
      border-radius: 100%;
      transform: translateY(-50%);
      width: 100%;
      height: 100%;
      z-index: -1;
    }
    &::before {
      content: "";
      position: absolute;
      z-index: -1;
      left: 0;
      // background: linear-gradient(90deg, rgba(232, 111, 58, 0) 10%, rgb(255, 93, 53) 51.9912%, rgba(232, 111, 58, 0) 90%);
      width: 100%;
      height: 1px;
    }
  }
  &_card {
    /* Lights */
    position: relative;
    &::after {
      content: "";
      // background-image: linear-gradient(270deg, #d2fcff 13.37%, rgba(210, 252, 255, 0.1) 45.79%);
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-image: url("../../../public/image/card/dots.png");
      background-size: cover;
      background-position: center;
    }
  }
  &_row-first {
    .cardItem {
      background-color: #f9f9f9;
    }
    .dark & {
      .cardItem:nth-child(1) {
        background: radial-gradient(84.35% 70.19% at 50% 38.11%, rgba(2, 96, 101, 0.57), rgba(5, 136, 178, 0.06));
        box-shadow: rgba(255, 255, 255, 0.1) 0px 1px 0px inset, rgba(0, 0, 0, 0.4) 0px 30px 50px, rgba(3, 122, 129, 0.09) 0px 4px 24px, rgba(255, 255, 255, 0.06) 0px 0px 0px 1px inset;
      }
      .cardItem:nth-child(2) {
        background: radial-gradient(84.35% 70.19% at 50% 38.11%, rgba(2, 101, 27, 0.57), rgba(144, 238, 144, 0.06));
        box-shadow: rgba(255, 255, 255, 0.1) 0px 1px 0px inset, rgba(0, 0, 0, 0.4) 0px 30px 50px, rgba(2, 101, 27, 0.09) 0px 4px 24px, rgba(255, 255, 255, 0.06) 0px 0px 0px 1px inset;
      }

      .cardItem:nth-child(3) {
        background: radial-gradient(80% 70% at 50% 35%, rgba(54, 0, 51, 0.5), rgba(204, 153, 255, 0.08));
        box-shadow: rgba(255, 255, 255, 0.08) 0px 1px 0px inset, rgba(0, 0, 0, 0.35) 0px 28px 48px, rgba(186, 85, 211, 0.1) 0px 4px 22px, rgba(255, 255, 255, 0.05) 0px 0px 0px 1px inset;
      }

      .cardItem:nth-child(4) {
        background: radial-gradient(82% 68% at 50% 38%, rgba(0, 51, 102, 0.55), rgba(173, 216, 230, 0.07));
        box-shadow: rgba(255, 255, 255, 0.09) 0px 1px 0px inset, rgba(0, 0, 0, 0.33) 0px 26px 46px, rgba(70, 130, 180, 0.1) 0px 4px 24px, rgba(255, 255, 255, 0.05) 0px 0px 0px 1px inset;
      }
    }
  }
  &_row-second {
    .cardItem:nth-child(1) {
      &::after {
        background: radial-gradient(64.5947% 78.6119% at 50.1416% 84.4193%, rgba(249, 172, 129, 0) 0%, rgba(55, 31, 112, 0.7), rgba(241, 73, 36, 0) 100%);
      }
      &::before {
        top: -0.5px !important;
        background: linear-gradient(90deg, rgba(232, 111, 58, 0) 10%, rgb(83, 67, 230) 51.9912%, rgba(232, 111, 58, 0) 90%);
      }
    }
    .cardItem:nth-child(2) {
      &::after {
        transform: translateY(50%);
        background: radial-gradient(64.5947% 78.6119% at 50.1416% 84.4193%, rgba(249, 172, 129, 0) 0%, rgba(112, 31, 108, 0.7), rgba(241, 73, 36, 0) 100%);
      }
      &::before {
        bottom: 0;
        background: linear-gradient(90deg, rgba(232, 111, 58, 0) 10%, rgb(230, 67, 230) 51.9912%, rgba(232, 111, 58, 0) 90%);
      }
    }
  }
  &_row-third {
    .cardItem:nth-child(2) {
      &::after {
        transform: translateY(50%);
        background: radial-gradient(64.5947% 78.6119% at 50.1416% 84.4193%, rgba(249, 172, 129, 0) 0%, rgba(112, 31, 62, 0.7), rgba(241, 73, 36, 0) 100%);
      }
      &::before {
        background: linear-gradient(90deg, rgba(232, 111, 58, 0) 10%, rgb(230, 67, 143) 51.9912%, rgba(232, 111, 58, 0) 90%);
        bottom: 0;
        margin: auto;
      }
    }
  }
  &_row-fourth {
    .cardItem:nth-child(1) {
      &::after {
        transform: translateY(-50%);
        background: radial-gradient(64.5947% 78.6119% at 50.1416% 84.4193%, rgba(129, 249, 249, 0) 0%, rgba(31, 112, 105, 0.7), rgba(241, 73, 36, 0) 100%);
      }
      &::before {
        background: linear-gradient(90deg, rgba(232, 111, 58, 0) 10%, rgb(67, 211, 230) 51.9912%, rgba(232, 111, 58, 0) 90%);
        top: -0.5px;
        margin: auto;
      }
    }
  }
  &_row-fifth {
    .card1 {
      &::after {
        background: radial-gradient(64.5947% 78.6119% at 50.1416% 84.4193%, rgba(249, 172, 129, 0) 0%, rgba(112, 97, 31, 0.7), rgba(241, 73, 36, 0) 100%);
      }
      &::before {
        top: -0.5px !important;
        background: linear-gradient(90deg, rgba(232, 111, 58, 0) 10%, rgb(230, 227, 67) 51.9912%, rgba(232, 111, 58, 0) 90%);
      }
    }
    .card2 {
      // background: radial-gradient(99.74% 100% at 50% 0%, rgba(74, 21, 75, 0.7), rgba(29, 5, 29, 0.42));
      // box-shadow: rgba(0, 0, 0, 0.5) 0px 30px 50px 0px, rgba(255, 255, 255, 0.1) 0px 1px 0px 0px inset, rgba(79, 7, 59, 0.1) 0px 0px 20px 3px, rgba(85, 0, 98, 0.1) 0px 0px 40px 20px,
      //   rgba(255, 255, 255, 0.06) 0px 0px 0px 1px inset;
      &::after {
        transform: translateY(50%);
        bottom: 0;
        background: radial-gradient(64.5947% 78.6119% at 50.1416% 84.4193%, rgba(249, 172, 129, 0) 0%, rgba(44, 112, 31, 0.7), rgba(241, 73, 36, 0) 100%);
      }
      &::before {
        background: linear-gradient(90deg, rgba(232, 111, 58, 0) 10%, rgb(67, 230, 81) 51.9912%, rgba(232, 111, 58, 0) 90%);
        bottom: 0 !important;
      }
    }
    .card3 {
      // background: radial-gradient(84.35% 70.19% at 50% 38.11%, rgba(2, 96, 101, 0.57), rgba(5, 136, 178, 0.06));
      // box-shadow: rgba(255, 255, 255, 0.1) 0px 1px 0px 0px inset, rgba(0, 0, 0, 0.4) 0px 30px 50px 0px, rgba(3, 122, 129, 0.09) 0px 4px 24px 0px, rgba(255, 255, 255, 0.06) 0px 0px 0px 1px inset;
      &::after {
        background: radial-gradient(64.5947% 78.6119% at 50.1416% 84.4193%, rgba(249, 172, 129, 0) 0%, rgba(111, 31, 112, 0.7), rgba(241, 73, 36, 0) 100%);
      }
      &::before {
        top: -0.5px !important;
        background: linear-gradient(90deg, rgba(232, 111, 58, 0) 10%, rgb(227, 67, 230) 51.9912%, rgba(232, 111, 58, 0) 90%);
      }
    }
  }
  &_row-sixth {
    .cardItem:nth-child(1) {
      &::after {
        transform: translateY(-50%);
        background: radial-gradient(64.5947% 78.6119% at 50.1416% 84.4193%, rgba(129, 249, 249, 0) 0%, rgba(31, 112, 92, 0.7), rgba(241, 73, 36, 0) 100%);
      }
      &::before {
        background: linear-gradient(90deg, rgba(232, 111, 58, 0) 10%, rgb(67, 230, 162) 51.9912%, rgba(232, 111, 58, 0) 90%);
        top: -0.5px;
      }
    }
    .cardItem:nth-child(2) {
      &::after {
        transform: translateY(50%);
        background: radial-gradient(64.5947% 78.6119% at 50.1416% 84.4193%, rgba(129, 249, 249, 0) 0%, rgba(111, 112, 31, 0.7), rgba(241, 73, 36, 0) 100%);
      }
      &::before {
        background: linear-gradient(90deg, rgba(232, 111, 58, 0) 10%, rgb(200, 230, 67) 51.9912%, rgba(232, 111, 58, 0) 90%);
        bottom: 0;
      }
    }
  }
  &_row-seventh {
    padding: 0;
  }
}
