.tertiary-button {
  background: linear-gradient(180deg, #2c2c2c 0%, #282828 100%);
  border: 1.5px solid;
  border-image-source: linear-gradient(158.39deg, rgba(255, 255, 255, 0.1) 14.19%, rgba(255, 255, 255, 2.5e-5) 35.83%, rgba(255, 255, 255, 2.5e-5) 64.26%, rgba(255, 255, 255, 0.025) 85.81%);
  box-shadow: 2px 0px 8px 2px #f8f8f833 inset;
  border-radius: 32px;
  border-width: 1.5px;
  color: white;
  .dark & {
    color: black;
    background: linear-gradient(180deg, #fdfdfd 0%, #dedede 100%);
    border-image-source: linear-gradient(158.39deg, rgba(255, 255, 255, 0.55) 14.19%, rgba(255, 255, 255, 0.0001) 35.83%, rgba(255, 255, 255, 0.0001) 64.26%, rgba(255, 255, 255, 0.25) 85.81%);
    box-shadow: 2px 0px 8px 2px #18181833 inset;
  }
}

.secondary-button {
  padding: 12px 30px;
  border: none;
  color: #f4f0ff;
  text-align: center;
  position: relative;
  cursor: pointer;
  width: 100%;
  border-radius: 50px;
  text-transform: uppercase;
  font-size: 14px;
  &::before {
    content: "";
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    border-radius: 50px;
    background: linear-gradient(180deg, rgba(8, 77, 126, 0) 0%, rgba(8, 77, 126, 0.42) 100%), rgba(47, 255, 255, 0.24);
    box-shadow: inset 0 0 12px rgba(151, 200, 255, 0.44);
    z-index: -1;
  }

  &::after {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(180deg, rgba(8, 77, 126, 0) 0%, rgba(8, 77, 126, 0.42) 100%), rgba(47, 255, 255, 0.24);
    box-shadow: inset 0 0 12px rgba(151, 200, 255, 0.44);
    border-radius: 50px;
    opacity: 0;
    z-index: -1;
    transition: all 0.3s ease-in;
  }

  &:hover::after {
    opacity: 1;
  }

  .secondary-button-border {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    border-radius: 50px;
    z-index: -1;
  }

  .secondary-button-border::before {
    content: "";
    position: absolute;
    border-radius: 50px;
    padding: 1px;
    inset: 0;
    background: linear-gradient(180deg, rgba(184, 238, 255, 0.24) 0%, rgba(184, 238, 255, 0) 100%), linear-gradient(0deg, rgba(184, 238, 255, 0.32), rgba(184, 238, 255, 0.32));
    -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
    -webkit-mask-composite: xor;
    pointer-events: none;
  }
}
.button {
  position: relative;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  padding: 8px 24px;
  border-radius: 32px;
}
.dark {
  .button {
    background: rgba(40, 40, 40, 0.7);
    box-shadow: inset 2px 4px 16px 0 hsla(0, 0%, 97%, 0.06);
    -webkit-backdrop-filter: blur(50px);
    backdrop-filter: blur(50px);
    color: hsla(0, 0%, 97%, 0.7);
    transition: background 0.2s, color 0.2s;

    &:hover {
      background: hsla(0, 0%, 97%, 0.1);
      color: hsla(0, 0%, 97%, 0.76);
    }
    &::before {
      content: "";
      position: absolute;
      inset: 0;
      border-radius: 32px;
      pointer-events: none;
      border: 1.5px solid hsla(0, 0%, 100%, 0.1);
      -webkit-mask-image: linear-gradient(175deg, #000, transparent 50%);
      mask-image: linear-gradient(175deg, #000, transparent 50%);
    }
  }
}
.light {
  .button {
    background: rgba(0, 0, 0, 0.02);
    border: 1px solid rgba(0, 0, 0, 0.05);
    color: gray;
  }
}

.primary-btn {
  background-color: #d1d1d1;
  margin-top: 20px;
  position: relative;
  border-radius: 50px;
  height: 40px;
  transition: cubic-bezier(0.3, 0.8, 0.5, 0.5) all 0.2s;
  color: #000;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 500;
  border: 1px solid white;
  overflow: hidden;
  &:active {
    transform: scale(0.98);
  }

  &:hover &__background-glow {
    opacity: 1;
  }

  &::before,
  &::after {
    border-radius: inherit;
    content: "";
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    transition: opacity 0.5s cubic-bezier(0.3, 0.8, 0.5, 0.5);
  }

  &::before {
    opacity: 0;
    background: radial-gradient(128px circle at var(--mouse-x) var(--mouse-y), #fffff5 0%, #ffaa81 40%, transparent 80%);
    box-shadow: 0 0 5px 5px rgba(255, 170, 129, 0.5); /* Glowing effect */
  }
  &::after {
    opacity: 0;
    background-image: radial-gradient(128px circle at var(--mouse-x) var(--mouse-y), #fffff5 0%, #ffaa81 40%, transparent 80%);
    filter: blur(6rem);
    z-index: -1;
    transition-duration: 1s;
  }

  &:hover::before,
  &:hover::after {
    opacity: 1;
  }
  &__background {
    border-radius: inherit;
    content: "";
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    background-color: #d3d3d3a4;
    border-radius: 50px;
  }
  &__contents {
    position: relative;
    z-index: 5;
  }
}

.iconbtn {
  position: relative;
  &::after {
    content: "";
    position: absolute;
    top: -10px;
    right: -20px;
    width: 50px; /* Control glow size */
    height: 30px;
    background: radial-gradient(circle, rgba(255, 255, 245, 0.8) 10%, transparent 70%);
    pointer-events: none;
    z-index: 1;
    filter: blur(15px);
  }
}
.iconbtn:nth-child(1) {
  &::after {
    content: "";
    position: absolute;
    top: -10px;
    left: -20px;
  }
}
