input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-background-clip: text;
  -webkit-text-fill-color: #cacaca;
  transition: background-color 5000s ease-in-out 0s;
  box-shadow: inset 0 0 20px 20px #23232329;
}

.input_glow {
  position: relative;
  border-radius: 5px;
  height: 40px;
  // background-color: hsla(265, 95%, 10%, 1);
  transition: cubic-bezier(0.3, 0.8, 0.5, 0.5) all 0.2s;
  // background-image: radial-gradient(hsla(265, 95%, 3%, 1) 20%, transparent 20%);
  background-position: 0 0;
  box-shadow: 0px 0px 0px 4px hsla(265, 95%, 5%, 0);

  .input-box {
    position: relative;
    z-index: 1111;
    color: #fff;
  }
  textarea,
  input {
    border: none;
    width: 100%;
    height: 100%;
    border: none;
    outline: none;
    background: none;
    height: 40px;
    color: #fff;
    &::placeholder {
      color: #838383;
    }
  }

  &_background {
    position: absolute;
    border-radius: inherit;
    inset: 1px;
    background: #1a1c23; // chnage this color to change background-color: ;
  }

  &:hover &_background-glow {
    opacity: 1;
  }

  &::before,
  &::after {
    border-radius: inherit;
    content: "";
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    transition: opacity 0.5s cubic-bezier(0.3, 0.8, 0.5, 0.5);
  }

  &::before {
    opacity: 0;
    background: radial-gradient(128px circle at var(--mouse-x) var(--mouse-y), #fffff5 3.5%, #ffaa81 26.5%, #ffda9f 37.5%, rgba(255, 170, 129, 0.5) 49%, rgba(255, 255, 255, 0.2) 92.5%);
  }

  &::after {
    opacity: 0;
    background: radial-gradient(128px circle at var(--mouse-x) var(--mouse-y), #fffff5 3.5%, #ffaa81 26.5%, #ffda9f 37.5%, rgba(255, 170, 129, 0.5) 49%, rgba(255, 255, 255, 0.2) 92.5%);
    filter: blur(6rem);
    z-index: -1;
    transition-duration: 1s;
  }

  &:hover::before,
  &:hover::after {
    opacity: 1;
  }
}

.auth .input_glow .input_glow_background {
  background-color: #000 !important;
}
