.search {
  .input_glow {
    background-color: #1a1c23 !important;
    &_background {
      background-color: #1a1c23 !important;
    }
  }
}
.search.input_glow {
  height: 50px !important;
}
header {
  z-index: 999999999999;
}
