@use "./image";
@use "./extensions";
@use "./table/table";
@use "./button";

.react-colorful {
  height: 150px !important;
  width: 100% !important;
}
.react-colorful__saturation {
  border-radius: 4px 4px 0 0;
}
