// Media Query Mixin
@mixin media-query($breakpoint) {
  @if $breakpoint == "xs" {
    @media (max-width: 576px) {
      @content;
    }
  } @else if $breakpoint == "sm" {
    @media (max-width: 768px) {
      @content;
    }
  } @else if $breakpoint == "md" {
    @media (max-width: 992px) {
      @content;
    }
  } @else if $breakpoint == "lg" {
    @media (max-width: 1200px) {
      @content;
    }
  } @else if $breakpoint == "xl" {
    @media (max-width: 1550px) {
      @content;
    }
  }
}

// Centering Mixin
@mixin center($width: 100%) {
  display: flex;
  justify-content: center;
  align-items: center;
  width: $width;
}
