// Color Variables
$primary-color: #3498db;
$secondary-color: #2ecc71;
$accent-color: #e74c3c;
$text-color: #333;
$text-white: #fff;
$background-color: #09090b;

// Font Variables
$font-family-base: "Poppins", serif;

// Spacing Variables
$spacing-unit: 16px;
