.framer-15o9q9d {
  align-content: center;
  align-items: center;
  bottom: 0;
  display: flex;
  flex: none;
  flex-direction: row;
  flex-wrap: nowrap;
  gap: 0px;
  justify-content: center;
  left: calc(50.00000000000002% - 100% / 2);
  overflow: hidden;
  padding: 0;
  position: absolute;
  top: 0;
  width: 100%;
}
.framer-1l2isai {
  -webkit-backdrop-filter: blur(35px);
  backdrop-filter: blur(35px);
  background-color: #e8e7e600;
  bottom: -88px;
  flex: none;
  left: calc(50.00000000000002% - 100% / 2);
  overflow: hidden;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 1;
}
.framer-zjg9f7 {
  -webkit-mask: linear-gradient(180deg, #000000 0%, rgba(0, 0, 0, 0.9) 56.00000000000001%, rgba(0, 0, 0, 0) 77%) add;
  flex: none;
  inset: -215px -489px -223px -184px;
  mask: linear-gradient(180deg, #000000 0%, rgba(0, 0, 0, 0.9) 56.00000000000001%, rgba(0, 0, 0, 0) 77%) add;
  overflow: hidden;
  position: absolute;
  z-index: 0;
}
.framer-15ykzzs {
  position: relative;
  &::after {
    content: "";
    background: linear-gradient(0deg, #13161c 40%, rgba(12, 12, 12, 0) 100%);
    bottom: 0;
    flex: none;
    height: 40vh;
    width: 100%;
    position: absolute;
    width: 100%;
    z-index: 4;
  }
}
.feature-box {
  background: #0d0d0d;
  box-sizing: border-box;
  backdrop-filter: blur(60px);
  border-radius: 14px;
}
.iLpqQ {
  position: absolute;
  transform: rotate(90deg);
  white-space: nowrap;
  left: 62px;
  top: 42px;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  transform-origin: left top;
}
.hnZxpu {
  position: relative;
  height: 474px;
  overflow: hidden;
  transition: width 0.6s cubic-bezier(0.34, 1.4, 0.64, 1);
  transform: translateZ(0px);
  background: linear-gradient(rgb(12, 12, 12), rgb(12, 12, 12)) padding-box padding-box,
    conic-gradient(
        from 216.62deg at 47.4% 51.13%,
        rgba(255, 255, 255, 0) -5.98deg,
        rgba(255, 255, 255, 0.243) 65.05deg,
        rgba(255, 255, 255, 0) 160.85deg,
        rgba(255, 255, 255, 0.125) 253.05deg,
        rgba(255, 255, 255, 0) 275.93deg,
        rgba(255, 255, 255, 0) 354.02deg,
        rgba(255, 255, 255, 0.243) 425.05deg
      )
      border-box border-box;
  border-radius: 12px;
  border: 0.5px solid transparent;
}
.isiSZ {
  position: absolute;
  top: 0px;
  transition: transform 1s;
  height: 474px;
}
