.notes {
  .circle-group > div {
    box-shadow: none;
    filter: none;
    width: 500px;
    height: 500px;
    transition: all 1s cubic-bezier(0.075, 0.82, 0.165, 1) 0s;
  }
  .circle-group {
    position: absolute;
    opacity: 0;
    animation: 3s ease 1s 1 normal forwards running circleGroup;
    width: 100%;
    height: 1000px;
    overflow: hidden;
    top: -100px;
    display: block;
    z-index: 1;
  }
  .circle1 {
    position: absolute;
    top: 150px;
    left: 200px;
    width: 500px;
    height: 500px;
    background: linear-gradient(rgba(47, 184, 255, 0.42) 31.77%, rgb(158, 236, 217) 100%);
    z-index: -1;
    mix-blend-mode: color-dodge;
    animation: 25s ease 0s infinite alternate none running circle1anmiation;
    &:hover {
      filter: blur(30px);
      box-shadow: rgba(255, 255, 255, 0.6) 0px 0px 0px 0.5px inset, rgb(250, 112, 154) 100px 100px 0px 0px inset, rgb(120, 75, 160) 200px 200px 0px 0px inset,
        rgb(43, 134, 197) 300px 300px 0px 0px inset;
      width: 520px;
      height: 520px;
    }
  }
  .circle2 {
    position: absolute;
    top: 150px;
    left: 200px;
    width: 500px;
    height: 500px;
    z-index: -1;
    background: linear-gradient(rgba(186, 117, 255, 0.49) 26.56%, rgb(57, 19, 184) 100%);
    mix-blend-mode: color-dodge;
    animation: 30s ease 0s infinite alternate none running circle2anmiation;
    &:hover {
      box-shadow: rgba(255, 255, 255, 0.6) 0px 0px 0px 0.5px inset, rgb(58, 12, 163) 100px 100px 0px 0px inset, rgb(67, 97, 238) 200px 200px 0px 0px inset, rgb(76, 201, 240) 300px 300px 0px 0px inset;
      filter: hue-rotate(0deg) blur(30px);
      width: 520px;
      height: 520px;
      transition: all 1s cubic-bezier(0.075, 0.82, 0.165, 1) 0s;
    }
  }
  @keyframes circle1anmiation {
    0% {
      transform: translate(0px, -50px) rotate(-90deg);
      border-radius: 24% 76% 35% 65% / 27% 36% 64% 73%;
    }
    100% {
      transform: translate(500px, 100px) rotate(-10deg);
      border-radius: 76% 24% 33% 67% / 68% 55% 45% 32%;
    }
  }
  @keyframes circle2anmiation {
    0% {
      transform: translate(-200px, 0px) rotate(-90deg);
      border-radius: 51% 49% 58% 42% / 34% 78% 22% 66%;
    }
    100% {
      transform: translate(400px, 100px) rotate(-120deg);
      border-radius: 22% 78% 73% 27% / 67% 31% 69% 33%;
    }
  }
  @keyframes circleGroup {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
}
