@use "./abstracts/functions";
@use "./abstracts/mixins";
@use "./abstracts/variables" as *;
@use "./base/base";
@use "base/reset";
@use "./base/typography";
@use "./components/logo";
@use "./components/buttons";
@use "./components/input";
@use "./components/card";
@use "./components/table";
@use "./components/navbar";
@use "./components/form";
@use "./components/comment";
@use "./components/profile";
@use "./components/bentoCard";
@use "./components/stepper";
@use "./components/categorydashboard.scss";
@use "./layout/footer";
@use "./layout/grid";
@use "./layout/header";
@use "./layout/sidebar";
@use "./pages/auth";
@use "./pages/port_resume";
@use "./pages/home";
@use "./vendors/slick";
@use "./vendors/react-masonry-css";
@use "./vendors/skeleton";
@use "./editor/buttonWithTooltip";
@use "./vendors/react-datepicker";
@use "./vendors/rechartsjs";
@use "./base/scrollbar";
@use "./dashboard/CategoryCard";
@use "./layout/table/tableTheme";

.reactjs-tiptap-editor .richtext-bg-background {
  .dark & {
    background-color: #22242b !important;
  }
}
.richtext-outline-1,
.richtext-outline {
  outline: none !important;
}

.editor-default {
  .tiptap {
    :first-child {
      margin-top: 0;
    }

    /* List styles */

    ul,
    ol {
      padding: 0 1rem;
      margin: 1.25rem 1rem 1.25rem 0.4rem;
      list-style-type: disc;
      li p {
        margin: 0 !important;
      }
    }
  }
}

.hljs {
  border-radius: 20px !important;
  background: transparent !important;
  // color: #fff !important;
  font-size: 14px !important;
}
/*

// animation for dashbaord home user name dispayl

@keyframes gradient-x {
  0%,
  100% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.animate-gradient-x {
  background-size: 200% 200%;
  animation: gradient-x 3s ease infinite;
}

.animate-gradient {
  background-size: 200% 200%;
  animation: gradient 4s ease infinite;
}
 */
